### === Общие файлы и системные === ###
.DS_Store
Thumbs.db
*.log
/logs
*.tmp
*.zip

### === IDE === ###
.idea/
.vscode/
*.iml
*.ipr
*.iws
.sts4-cache
.classpath
.project
.factorypath
.settings
.springBeans
.apt_generated

### === Maven / Java === ###
**/target/
**/build/
.mvn/wrapper/maven-wrapper.jar

### === Node.js === ###
**/node_modules/
**/dist/

### === Специфично для backend (Spring Boot) === ###
nutritionApp/backend/HELP.md

### === Специфично для bot (Node.js) === ###
nutritionApp/telegram-bot/.env